<!DOCTYPE html>
<html>
<head>
  <title>Ts0mqDelta</title>
  <%= stylesheet_link_tag    "ts_0mq_delta/application", media: "all" %>
  <%= javascript_include_tag "ts_0mq_delta/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
